*
{
	box-sizing: border-box;
}

a {
    color: hsla(30,100%,50%,1);
font-weight: bold;
}

a:hover{
text-decoration: none;
}

.header-logo {
width:15%;
float:left;
}

.header-image
{
width:70%;
float:left;
}

#banner{
    overflow: auto;
}

#banner .header-image img
{
   border-radius: 90%/100%;
    border-top: 5px solid  hsla(45,100%,50%,1);
    border-bottom: 5px solid  hsla(35,100%,50%,1);
    width: 70%;
}

.header-right
{
width:15px;
float:left;
}
.menu
{
background:white;
}

.menu ul li{
padding:0px;
border:0px;
}

.menu ul li:hover{
    background: white;
}


.menu ul li a {
display:block;
padding: 10px 5px;
    text-align: center;
    border-radius: 90%/100%;
    background: hsla(45,100%,50%,1);
    border-bottom: 2px solid hsla(45,100%,50%,1);
box-shadow: inset 0px -5px 15px 0px hsla(55,100%,70%,1);
    margin: 5px;
}

.menu > ul > li a:hover
{
background: hsla(35,100%,50%,1);
    box-shadow: inset 0px -5px 15px 0px hsla(45,100%,70%,1);
}

.sidebar-title {
    background: hsla(35,100%,50%,1);
    text-align: center;
}

.sidebar_article_list {
    background:  hsla(40,100%,70%,1)
}

.sidebar_article_item a {
    background: hsla(40,100%,50%,1);
    font-weight: bold;
}

.sidebar_article_item a:hover {
    background: hsla(35,100%,50%,1);
}

.item_date {
    background: hsla(40,100%,50%,1);
}

#right-feed div {
    background: hsla(40,100%,50%,1) !important;
}

#right-feed a{
display: block;
    background: hsla(40,100%,50%,1);
}
#right-feed a:hover {
background: hsla(35,100%,50%,1);
}

#page-content{
    overflow-wrap: break-word;
}

/* target min mobile size of 320px */

body {
  min-width: 320px;
}

#banner {
  display: flex;
	overflow: visible;
}

@media screen and (max-device-width: 550px) {
	#banner {
		margin-bottom: 35px;
	}
}

@media screen and (max-width: 550px) {
	#banner {
		margin-bottom: 35px;
	}
}


.header-logo {
  overflow: visible;
	flex: 2 2 20%;
	position: relative;
}

.header-logo a {
	background-image: url("http://sb3.lib.dm/logo/2014/blank/transparent/yellow/black/100.png");
	background-repeat: no-repeat;
	background-size: contain;
	overflow: visble;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
}

.header-logo a:after {
	content: 'Liberal Democrats';
	position: absolute;
	bottom: -32px;
	font-size: 28px;
	overflow: visible;
	margin-left: 20px;
	white-space: nowrap;
}

@media screen and (min-device-width: 550px) and (max-device-width: 650px) {
	.header-logo a:after {
		white-space: normal
	}
}

@media screen and (min-width: 550px) and (max-width: 650px) {
	.header-logo a:after {
		white-space: normal
	}
}

.header-logo a img {
	display: none;
}

.header-image {
  margin: 10px 0;
	flex: 1 1 80%;
}

.header-right {
  display: none;
}

#email-bar .container {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#email-bar .container .contnet {
  display: none;
}

#email-bar .container #search-form {
  float: none;
  position: static;
  right: 0;
  margin: 0 auto;
}

#email-bar .container #search-form div {
  display: flex;
  justify-content: flex-end;
	right: 0;
}

#email-bar .container input {
  height: 26px;
  margin: 0 20px 0 0;
  max-width: 80%;
  float: none;
  margin: 0 20px 0 0;
}

#email-bar .container button {
  vertical-align: bottom;
  float: none;
}

div#wrapper {
  min-width: 320px;
	width: 90%;
}

@media screen and (max-device-width: 500px) {
  div#wrapper {
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 500px) {
  div#wrapper {
    width: calc(100% - 20px);
  }
}

.home-hero {
	display: flex;
}

.home-hero__contents {
	width: 100%;
}

.home-hero .cycle {
	float: right;
	margin: 0 0 10px 10px;
	width: 400px;
	max-width: 66%;
	white-space: nowrap;
}

.captioned-image {
	width: 400px;
	max-width: 100%;
	padding-bottom: 75%;
	position: relative;
	margin: 0;
	display: inline-block;
	text-align: center;
}

.captioned-image .content-edited {
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: auto;
}

.captioned-image {
	animation: round 16s infinite;
	opacity: 0;
}

@keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

.captioned-image:nth-child(1) {
	animation-delay: 12s;
}

.captioned-image:nth-child(2) {
	left: -100%;
	animation-delay: 8s;
}

.captioned-image:nth-child(3) {
	left: -200%;
	animation-delay: 4s;
}

.captioned-image:nth-child(4) {
	left: -300%;
	animation-delay: 0s;
}

.captioned-image img {
	border-radius: 10px;
}
.captioned-image .caption {
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 40px;
	height: 40px;
	background-color: rgba(0, 0, 0, .5);
	font-size: 24px;
	color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.menu__ {
	font-size: 32px;
	font-weight: bold;
}

/* life stream with headlines, stories and images */
.content .lifestream {
	margin: 14px 0;
}

div.lifestream-fixed div.lifestream ul.lifestream-full li.lifestream {
	padding: 20px 0 60px 0;
	height: initial;
}

.container .column-main .content .lifestream-full .lifestream div .image {
	max-width: 50%;
	background-color: rgba(255, 188, 49, .1); /* #fdbb31; */
	border-radius: 10px;
}

.container .column-main .content .lifestream .lifestream-read-more {
	width: initial;
	height: initial;
	padding: 0;
	background-color: transparent;
	top: initial;
	bottom: -40px;
}

.container .column-main .content .lifestream .lifestream-read-more .lifestream-read-more-inner {
	margin: 0;
}

.container .column-main .content .lifestream-content {
	padding-right: 145px;
}
