*
{
	box-sizing: border-box;
}

a {
    color: hsla(30,100%,50%,1);
font-weight: bold;
}

a:hover{
text-decoration: none;
}

.header-logo{
width:15%;
float:left;
}

.header-image
{
width:70%;
float:left;
}

#banner{
    overflow: auto;
}

#banner .header-image img
{
   border-radius: 90%/100%;
    border-top: 5px solid  hsla(45,100%,50%,1);
    border-bottom: 5px solid  hsla(35,100%,50%,1);
    width: 70%;
}

.header-right
{
width:15px;
float:left;
}
.menu
{
background:white;
}

.menu ul li{
padding:0px;
border:0px;
}

.menu ul li:hover{
    background: white;
}


.menu ul li a {
display:block;
padding: 10px 5px;
    text-align: center;
    border-radius: 90%/100%;
    background: hsla(45,100%,50%,1);
    border-bottom: 2px solid hsla(45,100%,50%,1);
box-shadow: inset 0px -5px 15px 0px hsla(55,100%,70%,1);
    margin: 5px;
}

.menu > ul > li a:hover
{
background: hsla(35,100%,50%,1);
    box-shadow: inset 0px -5px 15px 0px hsla(45,100%,70%,1);
}

.sidebar-title {
    background: hsla(35,100%,50%,1);
    text-align: center;
}

.sidebar_article_list {
    background:  hsla(40,100%,70%,1)
}

.sidebar_article_item a {
    background: hsla(40,100%,50%,1);
    font-weight: bold;
}

.sidebar_article_item a:hover {
    background: hsla(35,100%,50%,1);
}

.item_date {
    background: hsla(40,100%,50%,1);
}

#right-feed div {
    background: hsla(40,100%,50%,1) !important;
}

#right-feed a{
display: block;
    background: hsla(40,100%,50%,1);
}
#right-feed a:hover {
background: hsla(35,100%,50%,1);
}

#page-content{
    overflow-wrap: break-word;
}

/* target min mobile size of 320px */

body {
  min-width: 320px;
}

#banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-logo {
  min-width: 120px;
}

.header-image {
  min-width: 80%;
  margin: 10px 0;
}

.header-right {
  display: none;
}

#email-bar .container {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#email-bar .container .contnet {
  display: none;
}

#email-bar .container #search-form {
  float: none;
  position: static;
  right: 0;
  margin: 0 auto;
}

#email-bar .container #search-form div {
  display: flex;
  justify-content: flex-right;
}

#email-bar .container input {
  height: 26px;
  margin: 0 20px 0 0;
  max-width: 75%;
  float: none;
  margin: 0 20px 0 0;
}

#email-bar .container button {
  vertical-align: bottom;
  float: none;
}

div#wrapper {
  min-width: 320px;
}

@media screen and (max-width: 500px) {
  div#wrapper {
    width: 100%;
  }
}

.home-hero {
  display: flex;
}
